<!DOCTYPE html>
<html>
<head>
	<title>List Of Campuses</title>
</head>
<body>

  <form action="/students/campus/post" method="POST">
    <input type="text" name="new_campus" placeholder="Change a Campus">
    <button type="submit">Save</button>
  </form>

<% @campus.each do |campuses| %>
	<p>	<%= campuses['campus'] %> </p>
	<% end %>



</body>
</html>